* {
    margin: 0 px;
    padding: 0 px;
    border: 0 px;
    box-sizing: border-box;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
    }
    
.fuente1{
    font-family: 'Slackey', cursive;
}    
h3, h2, h1, h6{
    font-family: 'Slackey', cursive;
}

#color {
    margin-top: 7 px;  
}

#bo {
    background-color: rgb(235, 60, 150);
    border: none;
    padding: 7px 5px 7px 5px;
    border-radius: 20px;
}

#color1{
    background-color: rgb(80, 50, 145);
}

#color2{
    background-color: rgb(45, 190, 205);
}

#color3{
    background-color:rgb(235, 60, 150);
}

#color4{
    color: rgb(255, 200, 50);
}

#color5{
    background-color: rgb(227, 224, 224);
}

.num-res {
    font-size: 5rem;
    color: #038C73;
    padding: 0px;
    margin: 0px;
    line-height: 70px ;
}

.texto1{
    line-height : 18px;
    font-size: 1 px;
    padding: 0px 0px 0px 0px ;
    margin: 0px 0px 0px 0px;

}
